<html>
  
  <head>
    {% if title %}
      <title>{{ title }} - {{ _('Book library') }}</title>
    {% else %}
      <title>{{ _('Book library') }}</title>
    {% endif %}
  </head>

  <body>
    <h2>{{ _('Book library') }}: {{ title }}</h2>
    <div><a href="/">{{ _('Home') }}</a> <a href="/add">{{ _('Add') }}</a></div>
    <hr>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </body>

</html>