<html>
  
  <head>
    {% if title %}
      <title>{{ title }} - Book library</title>
    {% else %}
      <title>Book library</title>
    {% endif %}
  </head>

  <body>
    <h2>Book library: {{ title }}</h2>
    <div><a href="/">Home</a> <a href="/add">Add</a></div>
    <hr>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </body>

</html>